<!-- ======= Facts Section ======= -->
<section id="who-am-i" class="who-am-i">
  <div class="container">
    <div class="section-title">
      <h2>About Me</h2>
      <p>
        Dear Recruiting Manager at Coinbase, I have built this website to show
        my strong motivation to join your amazing company. <br /><br />

        I am really passionate on cryptos firmly believing that is the silent
        revolution that will change forever what we have done for years.
        <br /><br />

        I have a strong working experience in the traditional banking industry
        but when I discovered the crypto world I have soon realised that what is
        the current practice will be soon wiped out. <br /><br />

        And this is thanks to Coinbase. I have joined before as a customer and
        then as an investor your Company and soon I realised that is the future,
        today. My only thought is how can I be part of it. <br /><br />

        I have roughly 13 years of working experience in banking, of which 10
        years liaising directly with clients (financial institutions and
        retail). Today I work as Relationship Manager with a portfolio of
        American (USA, Canada, LATAM) and UK Financial Institutions clients
        (Banks, Insurance Companies, Sovereign). In a nutshell my job is to be a
        connection between the client’s need and the solution. <br /><br />

        This means everything. <br /><br />

        Every day I don't know what will arrive on my desk. <br /><br />

        I prepare the onboarding of new clients, being a support for the KYC
        process, preparing Business proposals and all the activities related to
        build and maintain the relationship. I have internal connections with
        all the stakeholders necessary to the final client satisfaction (i.e.,
        executives, top management, senior colleagues) assuring a best-in-class
        experience for clients. Before this, I had an experience as Head of a
        working group in Compliance managing the activities useful to assure
        zero compliance risk for the Bank. <br /><br />

        My career in banking business started in 2010 in FinecoBank as a
        specialist liaising with High Value clients/prospects assuring the
        highest quality service for all their banking and trading online
        activities, training on products (banking and trading online platform).
        I got a Masters degree in Economics and Business Administration at
        University of Bologna (Top University in Italy) and a second master’s
        degree in Banking and Financial Markets Regulation at University of Rome
        while I was working as a consultant in 2009. I have experience on global
        markets because of my studies and my interests. I am not scared to take
        the ownership of an action because of my entrepreneurial approach and I
        have a strong interest in crypto. I am a current customer of Coinbase
        and I know already some products.
      </p>
    </div>
  </div>
</section>
<!-- End Facts Section -->
