<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Contact</h2>
    </div>

    <div class="row" data-aos="fade-in">
      <div class="col-lg-5 d-flex align-items-center">
        <div class="info">
          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Mail</h4>
            <p>
              <a href="mailto:example@mail.com">example@mail.com</a>
            </p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Phone</h4>
            <p><a href="tel:+49 176 436 32 327">+11 123 213 123</a></p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-center justify-content-center"
      >
        <img src="/assets/img/main-dp.png" alt="" style="width: 250px" />
      </div>
    </div>
  </div>
</section>
