<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <img
        src="/assets/img/profile-img.png"
        alt=""
        class="img-fluid rounded-circle"
      />
      <h1>
        <a href="/" class="text-darknes text-center">Josarcina</a>
      </h1>
      <div class="social-links mt-3 text-center">
        <a href="https://www.linkedin.com/" class="linkedin"
          ><i class="bx bxl-linkedin-square"></i
        ></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar text-center">
      <p class="text-center color-1">
        I have built this website to show my strong motivation to join your
        amazing company. <br /><br />
        I hope to get the chance for an interview where I can personally explain
        my intention to switch from traditional banking system to be colleagues
        in Coinbase.
      </p>
      <div class="theme-change">
        <img src="/assets/img/moon.png" id="icon" />
      </div>
    </nav>

    <!-- .nav-menu -->
  </div>
</header>
<!-- End Header -->
